@import 'src/styles.scss';
.bannerhome{
    background-image: url('../../.././../assets/banner.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0;
    padding: 0; 
}
.imagesection{
  width: 500px;
  height: 400px;
  border-radius: 20px;
 
}




