<section>
  <app-banner></app-banner>  
  <div class="container ">
    <section class="page-section">
      <div class="row description-section">
        <div class="col-xs-12 col-md-8 p16">
          <h2 class="title title-section">¿EN QUE CONSISTE 
            <br>
            <span class="color-title">LA AVENTURA?</span></h2>
            <span class="shape-subtitle color-title">¡Un divertido picnic interactivo!</span>
            <br><br>
          <p>El plan de picnic interactivo consiste en pasar un día especial en la naturaleza. Escoge a tu cabrita compañera, dale de comer, y relájate en un espacio de picnic decorado a tu gusto. Disfruta de una deliciosa comida y diviértete con actividades al aire libre.</p>
        </div>
        <div class="col-xs-12 col-md-4 containerVideo">
          <video class="videoAventura" [src]="firebaseStorageService.media.aventura.url" controls></video>
        </div>
      </div>
    </section> 
    <section>
      <h2 class="title"><span class="color-title"> Actividades</span> Imperdibles</h2>
      <p class="p-section">Nuestro lugar está diseñado para disfrutar de experiencias al aire libre. ¡Descúbrelas todas y sumérgete en un mundo de diversión y aventura en nuestro entorno natural!</p>
      <p></p>
      <div class="row">
        <div class="col-xs-12 ">
          <mat-grid-list [cols]="cols" rowHeight="10vw">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
              <div class="cont-img-grid">
                <img [src]="tile.imageURL" />
                <button class="button-grid">{{tile.text}}</button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </section>
  </div>
  <section class="publicity">
    <h2 class="title title-publicity ">Beneficios de compartir <span class="color-publicity">Con cabritas</span></h2>
    <div class="row flex">
      <div class="col-xs-6 col-md-3 center">
        <div class="container-icon-publicity">
          <mat-icon fontSet="mdi" fontIcon="mdi-virus" ></mat-icon>
        </div>  
        <h3>Mejora el sistema inmunológico</h3>          
      </div>
      <div class="col-xs-6 col-md-3  center">
        <div class="container-icon-publicity">
          <mat-icon fontSet="mdi" fontIcon="mdi-spa" ></mat-icon>
        </div>        
        <h3>Reduce el estrés</h3>          
      </div>
      <div class="col-xs-6 col-md-3  center">
        <div class="container-icon-publicity">
          <mat-icon fontSet="mdi" fontIcon="mdi-brain" ></mat-icon>
        </div> 
        <h4>Estimula tu mente</h4>          
      </div>
      <div class="col-xs-6 col-md-3 center">
        <div class="container-icon-publicity">
          <mat-icon fontSet="mdi" fontIcon="mdi-account-heart" ></mat-icon>
        </div> 
        <h4>Desarrolla responsabilidad y empatía</h4>          
      </div>
    </div>
      
  </section>
  <div class="container">
    <section class="page-section">
      <h2 class="title">Nuestros <span class="color-title">paquetes</span></h2>
      <p class="p-section">Explora nuestra selección de paquetes de decoración de picnic, donde la personalización es la clave. Desde estilos románticos hasta opciones modernas y rústicas.</p>
      <div class="row">
        <div class="col-xs-12 col-md-4" *ngFor="let item of typePackagesUrls ">
           <app-card [packageCard]="item" >
          </app-card>  
        </div>
      </div>
    </section>
  </div>
</section>