.bannerhome{
    background-image: url('../../.././../assets/banner.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* Esto asegura que el fondo ocupe toda la altura de la ventana del navegador */
    margin: 0;
    padding: 0;
}

.section{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px;;
}
.sectionactivis{
  
  align-items: center;
  margin-top: 40px;
  margin-bottom:40px;
  margin-left: 125px;
  margin-right: 125px;
}

.imagesection{
  width: 300px;
  height: 200px;
}
  .adventure{
    width: 600px;
    height: 200px;
}
h2 {
  text-align: center;
}
h1{
  color: white;
  size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
  width: 1000px; 
  height: 400px; 
  margin-left: auto;
  margin-right: auto;
}


.image1 {
  background-image: url('../../.././../assets/banner.jpg');
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image2 {
  background-image: url('../../.././../assets/banner.jpg');
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.image3 {
  background-image: url('../../.././../assets/banner.jpg');
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.image4 {
  background-image: url('../../.././../assets/banner.jpg');
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
