<div class="anuncio-page">
    <H1>Página en Construcción 🏗️🚧👷🏻‍♀️</H1>
    <p>Estamos trabajando para ofrecerte una plataforma completa para la gestión de reservas. En breve, podrás:</p>
    <ul>
      <li>Iniciar sesión para acceder a tus reservas.</li>
      <li>Consultar el estado de tus reservas.</li>
      <li>Solicitar cotizaciones personalizadas.</li>
      <li>Guardar tus reservas favoritas.</li>
      <li>Descargar los detalles de tus reservas.</li>
    </ul>
    <p>¡Gracias por tu paciencia mientras mejoramos nuestro servicio!</p>
</div>

