@import '../../../styles.scss';

.containerLogin{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 24px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $color-oscuro;
    gap: 30px;
}

.logoCapri{
    width: 30%;
    align-self: center;
}
.fondoLogin{
    position: fixed;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1;
}
.fondoLogin:hover{
    filter: none;
    transition: none;
}
.buttonsLogin{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.buttonsLogin p{
    color: $color-claro;
}
.credenciales{
    height: 35px;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: $color-oscuro;
    padding: 0 16px;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.credenciales:focus {
    outline: none;
    border: 2px solid $color-accent; 
    box-shadow: 0 0 2px $color-accent;
  }
.link {
    color: $color-accent;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 12px;
  }