<section class="footer">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-md-4 footer-contain">
                <h3> CAPRIPICNIC</h3>
                <P class="justify">¡Vive la magia con nuestras cabritas y crea recuerdos inolvidables!</P>
            </section>
            <section class="col-xs-12 col-md-4 footer-contain">
                <H3>REDES SOCIALES</H3>
                <div class="icon-socials">
                    <mat-icon fontSet="mdi" fontIcon="mdi-facebook"  ></mat-icon>               
                    <mat-icon fontSet="mdi" fontIcon="mdi-instagram" ></mat-icon>
                </div>                         
            </section>
            <section class="col-xs-12 col-md-4 footer-contain">
                <h3> CONTACTANOS</h3>
                <ul>
                 <li><a href="https://api.whatsapp.com/message/MVJ2RITZ5V3JP1?autoload=1&app_absent=0">+57 3160457415</a></li>   
                 <li> <a href="mailto:capripicnic@gmail.com">capripicnic@gmail.com </a></li>
                </ul>
            </section>
        </div>
    </div>
</section>