<section class="footer">
    <div class="row">
        <div class="col-xs-12 col-md-4 footer-contain ">
            <h3> CAPRIPICNIC</h3>
            <P class="justify">¡Vive la magia con nuestras cabritas y crea recuerdos inolvidables!</P>
        </div>
        <div class="col-xs-12 col-md-4 footer-contain">
            <H3>REDES SOCIALES</H3>
            <div class="icon-socials">
                <a href="https://www.facebook.com/CapriPicnic?locale=es_LA" target="_blank">
                    <mat-icon fontSet="mdi" fontIcon="mdi-facebook"></mat-icon>
                </a>
                <a href="https://www.instagram.com/capripicnic/" target="_blank">
                    <mat-icon fontSet="mdi" fontIcon="mdi-instagram"></mat-icon>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 footer-contain">
            <h3> CONTACTANOS</h3>
            <ul>
                <li><a href="https://api.whatsapp.com/message/MVJ2RITZ5V3JP1?autoload=1&app_absent=0" target="_blank">+57 3160457415</a>
                </li>
                <li> <a href="mailto:capripicnic@gmail.com" target="_blank">capripicnic@gmail.com </a></li>
            </ul>
        </div>
    </div>
</section>