@import 'src/styles.scss';

.icon-socials {
    display: flex;
    gap: 12px;

}

.mdi:before,
.mdi-set {
    font-size: 40px;
    line-height: normal;

}

.footer {
    padding:16px 90px 0px 90px;
    margin-top: 16px; 
    background-color: $color-primary;
    color: $color-claro;
     .footer-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        
       
    }       
}
.justify {
    padding: 0;
    font-size: 14px;
    text-align: center;
}

