@import '../../../styles.scss';
.tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: $color-claro;
    color:$color-title;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: $color-title;
    color: $color-claro;
  }
  
  .tabs button:hover {
    background-color: $color-accent;
    color: $color-title
  }

  .return-home{
    background-color: $color-primary ;
    padding: 8px 24px;
    margin-bottom: 24px;
  }
  
  