<section>
    <div class="containerActions"> 
        <button routerLink="/home"> Home 🏠</button>
        <button (click)="toogleModalAgenda()"> Agenda 📙</button>
    </div>
    <div class="container spaceHeader">
        <h1 class="titleGestionReservas">Gestión de reservas 📑</h1>
        <div class="row">
            <div [ngClass]="{'visible': mostrarAgenda, 'oculto': !mostrarAgenda}"class="col xs-12 widthContainer containerModalAgenda">
                <div class="modalAgenda">
                    <button (click)="toogleModalAgenda()" class="icnCerrar">✖️</button>
                    <app-google-calendar></app-google-calendar>
                </div>
                
            </div>
            <div class="col xs-12 md-6 widthContainer tabsContainer">
                <div class="tabs">
                    <button (click)="selectTab('solicitadas')" [class.active]="activeTab === 'solicitadas'">Reservas
                        Solicitadas</button>
                    <button (click)="selectTab('confirmadas')" [class.active]="activeTab === 'confirmadas'">Reservas
                        Confirmadas</button>
                </div>
                <div *ngIf="activeTab === 'solicitadas'">
                    <ng-container *ngIf="reservasSolitadas.length > 0; else MensajeListaVacia">
                        <div *ngFor="let reserva of reservasSolitadas">                    
                                <app-card-booking [booking]="reserva" (confirm)="reservarToCalendar($event)" (delete)="deleteBookingFB($event)"                 
                                />                                           
                        </div>
                    </ng-container>  
                </div>
                <div *ngIf="activeTab === 'confirmadas'">
                    <ng-container *ngIf="reservasConfirmadas.length > 0; else MensajeListaVacia">
                        <div *ngFor="let reserva of reservasConfirmadas">                               
                                <app-card-booking [booking]="reserva" (delete)="deleteBookingGC($event)" (update)="updateBookingFB($event)"/>            
                        </div>
                    </ng-container> 
                </div>
            </div>
        </div>
    </div>
    <ng-template #MensajeListaVacia>
        <div class="CardSinReservas">
            <p>Sin reservas {{activeTab}}📃</p>
        </div>
    </ng-template>
</section>