@import '../../../styles.scss';
.tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: $color-claro;
    color:$color-title;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: $color-title;
    color: $color-claro;
  }
  
  .tabs button:hover {
    background-color: $color-accent;
    color: $color-title
  }

  .containerActions{
    position: fixed;   
    display: flex;
    width: 100%;
    height: 5vh;;
    gap: 12px
;   background-color: $color-primary ;
    padding: 8px 24px;
    margin-bottom: 24px;
  }
  .CardSinReservas{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $color-oscuro;
  }
  
  .containerModalAgenda{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
  }
  .modalAgenda{
    background-color: #FFFFFF;
    border-radius: 25px; 
  }
  .widthContainer{
    width: 100%;
  }

  .tabsContainer{
    padding-top: 30px;
  }
  .titleGestionReservas{
    color: $color-title;
  }
  .oculto {
    display: none;
  }
  .visible {
    display: flex;
  }
  .spaceHeader{
    padding-top: 12vh;
  }
  .icnCerrar{
    justify-self: flex-end;
    background-color: transparent;
  }