@import '../../../styles.scss';
.tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: $color-claro;
    color:$color-title;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: $color-title;
    color: $color-claro;
  }
  
  .tabs button:hover {
    background-color: $color-accent;
    color: $color-title
  }

  .return-home{
    background-color: $color-primary ;
    padding: 8px 24px;
    margin-bottom: 24px;
  }
  .CardSinReservas{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 24px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $color-oscuro;
  }
  
  .widthContainer{
    width: 100%;
  }
  .tabsContainer{
    padding-top: 30px;
  }
  .titleGestionReservas{
    color: $color-title;
  }