@import 'src/styles.scss';
.navbar {
    height: 64px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: $color-primary;
  }
  .transparency{
    background-color: transparent;
    border: transparent;
   
  }
  .isHomeRoute{
    background-color: $color-primary;
  }
  
