  <mat-toolbar class="mat-toolbar">
    <img class="mat-toolbar-logo" src= "{{firebaseStorageService.media.logocapri.url}}" alt="imagen-logo">
    <div class="mat-toolbar-navbar">
      <button mat-button class="transparency" routerLink="/home">home</button>
      <button mat-button class="transparency" routerLink="/booking">Booking</button>
      <button mat-button class="transparency" routerLink="/about">About</button>
    </div>  
    <button routerLink="/auth/login">Login</button>
  </mat-toolbar>  
  