@import 'src/styles.scss';

.mat-toolbar {
  background-color: $color-primary;
  & .mat-toolbar-logo {
    box-sizing: border-box;
    padding: 8px;
    width: 70px;
    border-radius: 50%;

  }
  & .mat-toolbar-navbar {
    height: 64px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
}


.transparency {
  background-color: transparent;
  border: transparent;
}

@media (max-width: 767px) {
  .mat-toolbar-logo {
    display: none;
  }
}