<section>
  <div class="pre-header">    
    <a href="https://api.whatsapp.com/message/MVJ2RITZ5V3JP1?autoload=1&app_absent=0" target="_blank">
      <mat-icon fontSet="mdi" fontIcon="mdi-phone-in-talk"></mat-icon>
    </a>
    <a href="mailto:capripicnic@gmail.com" target="_blank">
      <mat-icon fontSet="mdi" fontIcon="mdi-email-outline"></mat-icon>
    </a>
    <a href="https://www.google.com/maps/place/Capripicnic/@1.8549797,-76.0838758,16.5z/data=!4m6!3m5!1s0x8e250d2f747d60db:0x4625e0fcc47f2539!8m2!3d1.8558453!4d-76.0844902!16s%2Fg%2F11kp8k7x2t?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
      <mat-icon fontSet="mdi" fontIcon="mdi-map-marker"></mat-icon>
    </a>
  </div>
  <mat-toolbar class="mat-toolbar">
      <div class="mat-toolbar-hanger">
        <img class="mat-toolbar-logo" src= "{{firebaseStorageService.media.logocapri.url}}" alt="imagen-logo">   
      </div>     
      <div class="mat-toolbar-navbar">
        <button mat-button class="transparency" routerLink="/home">home</button>
        <button mat-button class="transparency" routerLink="/booking">Booking</button>
        <button mat-button class="transparency" routerLink="/about">About</button>
      </div>  
      <button routerLink="/auth/login">Login</button>
    </mat-toolbar>  
    
</section>
