@import 'src/styles.scss';

  .card {
    overflow: hidden;
    background-color: $color-primary; 
    color: $color-claro;
    border-radius: 40px;    
    margin: 2rem auto;
    
  }
  .image-card {
    padding: 16px 16px 0px  16px ; 
    height: 180px;
    
  }
  .mdc-card__actions{
    margin-bottom: 10px;
    padding: 8px 16px;
  }
  .mat-mdc-card-subtitle{
  color: $color-primary-complement;
  }