@import 'src/styles.scss';
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: filter 0.3s;
    background-color: $color-primary; 
    color: $color-claro;
    
  }
  
  .card:hover {
    filter: brightness(80%);
  }

  .image-section {
    padding: 16px; 
  }
  
  .image-section img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
  }
  .mdc-card__actions{
    margin-bottom: 10px;
  }
  .mat-mdc-card-subtitle{
  color: $color-primary-complement;
  }