<section class="container-modal">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="fixed-top">
      <h3 class="color">Paquete {{selectedPackage?.namePackage}}</h3>
      <mat-icon (click)="close()" fontSet="mdi" fontIcon="mdi-close-box" class="color"></mat-icon>
    </div>
    <section class="container-acordion">
      <mat-accordion multi="true">
        <!-- Panel 1 -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Elige tu color
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checkbox-group" *ngFor="let item of colorPackages">
            <div class="checkbox-item">
              <span>{{item}}</span>
              <mat-checkbox [formControlName]="item" [value]="item" (change)="sumar(item, 'Color')"></mat-checkbox>
            </div>

          </div>
        </mat-expansion-panel>

        <!-- Panel 2 -->
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{titlePanelMenu}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="selectedPackage">
            <div class="checkbox-group">
              <div class="checkbox-item" *ngFor="let item of selectedPackage.menu">
                <span>{{ item.producto }}</span>
                <div>
                  <span *ngIf="isPaqDescanso"> +{{ item.price | currency }}</span>
                  <mat-checkbox [formControlName]="item.producto" [ngvalue]="item.price"
                    (change)="sumar(item.producto, 'Menu')"></mat-checkbox>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
        <!-- Panel 3 -->
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{titlePanelBebida}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checkbox-group" *ngFor="let item of bebidas">
            <div class="checkbox-item">
              <span>{{item.producto}}</span>
              <div>
                <span *ngIf="isPaqDescanso">+{{ item.price | currency }}</span>
                <mat-checkbox [formControlName]="item.producto" [ngvalue]="item.price"
                  (change)="sumar(item.producto, 'Bebida')"></mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Panel 4 -->
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Añadir
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checkbox-group">
            <div class="checkbox-item" *ngFor="let item of productosExtra">
              <span>{{item.producto}}</span>
              <div>
                <span>+{{ item.price | currency }}</span>
                <mat-checkbox [formControlName]="item.producto" [ngvalue]="item.price"
                  (change)="sumar(item.producto, 'Extra')"></mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{isPaqDescanso? "Numero de personas" : "Añadir persona extra"}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checkbox-item">
            <span> Cantidad</span>
            <div class="gap-8">
              <span *ngIf="!isPaqDescanso">+{{ selectedPackage!.pricePersonExtra | currency }}</span>
              <button type="button" (click)="sumarPersonasExtra(-1)" class="button-count">-</button>
              <span>{{ formulario.get('numberPersonasExtra')?.value }}</span>
              <button type="button" (click)="sumarPersonasExtra(+1)" class="button-count">+</button>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
             Información para reservar
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <label>Agenda disponible:</label>
              <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FBogota&bgcolor=%23ffffff&showPrint=0&showTabs=0&showCalendars=0&showTitle=0&showTz=0&src=Y2FwcmlwaWNuaWNAZ21haWwuY29t&color=%230B8043"
                style="border:solid 1px #777"
                width="300"
                height="300"
                frameborder="0"
                scrolling="no"
              ></iframe>
            </div>
            <div class="col-xs-12 col-md-6 flex-info">
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" formControlName="name" >
              </div>
              <div class="form-group">
                <label for="date">Fecha:</label>
                <input type="date" formControlName="appointmentDate" id="date" >
              </div>
              <div class="form-group">
                <label>Horario:</label>
                <select formControlName="selectedTimeRange">
                  <option *ngFor="let range of availableTimes" [value]="range">{{ range }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" >
              </div>
              <div class="form-group">
                <label for="phone">Teléfono:</label>
                <input type="tel" id="phone" formControlName="phone" [ngClass]="{'error': formulario.get('phone')?.errors}"
                  title="Ingresa un número de celular válido con o sin código de país">
              </div>
              <div *ngIf="formulario.get('phone')?.hasError('invalidPhone')" class="error-message">
                {{ formulario.get('phone')?.errors?.['message']}}
              </div> 
              <div *ngIf="formulario.get('phone')?.hasError('invalidRequired')" class="error-message">
                {{ formulario.get('phone')?.errors?.['message']}}
              </div>
              <div class="form-group">
                <label for="transferNumber">Número de Transferencia Bancaria:</label>
                <input type="number" id="transferNumber" formControlName="transferNumber"
                  title="Ingresa un número de transferencia bancaria válido (10 a 20 dígitos)">
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
    <div class="fixed-button">
      <button type="submit" class="color-reservar color-claro">
        <mat-icon fontSet="mdi" fontIcon=" mdi-check-bold" class="color-claro"></mat-icon> Solicitar Reserva
        <span>{{newCurrentPrice | currency}}</span>
      </button>
      <button>
        <mat-icon fontSet="mdi" fontIcon="mdi-heart" class="color"></mat-icon> Guardar Cotización
      </button>
      <button>
        <mat-icon fontSet="mdi" fontIcon="mdi-download" class="color"></mat-icon> Descargar Cotización
      </button>
    </div>
    <div>
    </div>
  </form>
</section>