@import '../../../styles.scss';

.container-modal {
  position: relative;
  width: 50vw;
  max-height: 80vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-acordion {
  box-sizing: border-box;
  padding: 25px 50px 25px 50px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

}

mat-panel-title {
  font-size: 16px;
  /* Tamaño de fuente del título */
}

.fixed-top {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: $color-claro;
  color: $color-title;
  padding: 8px 8px 8px 8px;
  z-index: 1000;
  /* Ajusta según sea necesario */
}

.fixed-button {

  position: sticky;
  z-index: 1000;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  text-align: center;
  background-color: $color-claro;
  padding: 16px;
}

.color {
  color: $color-title;
  margin: 0;
}
.color-reservar {
  background-color: $color-title;
}
.color-claro {
  color: $color-claro;
  
}
.mdi:before,
.mdi-set {
    font-size: 20px;
    line-height: normal;

}
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #416217;
  --mdc-checkbox-selected-hover-icon-color: #416217;
  --mdc-checkbox-selected-icon-color: #416217;
  --mdc-checkbox-selected-pressed-icon-color: #416217;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}
.gap-8{
  display: flex;
  gap:8px
}
.size-input{
  width: 50px;
}
.button-count{
    height: 10px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.flex-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
label {
  flex: 0 0 30%;
  max-width: 30%;
  margin-right: 10px;
  
}

input,
select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

iframe {
  margin-bottom: 20px;
  margin-top: 8px;
  width: 100%; /* Ensure iframe takes the full width of its container */
}

.error{
  border: 2px solid $color-warn;
}
.error-message{
  display: flex;
  justify-content: flex-end;
  color: $color-warn;
  font-size: 12px;
  
}
@media (max-width: 767px) {
  .fixed-button{
    flex-direction: column;
  }
  .container-acordion {
    padding: 15px 25px 15px 25px;
  }
  .container-modal{
    width: 80vw;
  }
}