 <section class="banner-home" [ngStyle]="{ 'background-image': 'url('+firebaseStorageService.media.banner.url+')' }">
    <div class="banner-home__wrap-reservar row center-xs">
        <h1 class="banner-home__wrap-reservar__title">Bienvenido a Capripicnic</h1>
        <h3 class="banner-home__wrap-reservar__title size">¡Haz tu reserva y vive una experiencia única!</h3>
        <div class="banner-home__wrap-reservar__actions">
            <div class="banner-home__wrap-reservar__actions wh70">
                <mat-form-field appearance="fill">
                    <mat-label>Paquetes de Picnic</mat-label>
                    <mat-select disableRipple (selectionChange)="onSelectionChange($event)" >
                        <div *ngFor="let item of dataPackages">
                            <mat-option value="{{item.id}}">{{item.namePackage}}</mat-option>
                        </div>
                    </mat-select>
                    <!-- <div *ngFor="let item of dataPackages">
                        <mat-select disableRipple (selectionChange)="onSelectionChange($event)">
                            <mat-option value="{{item.id}}">{{item.namePackage}}</mat-option>
                        </mat-select>
                    </div> -->
                </mat-form-field>
            </div>
            <div class="banner-home__wrap-reservar__actions wh30">
                <button (click)="openModal(selectedPackageId)" class="banner-home__wrap-reservar__actions__button-size">Reservar</button>
            </div>           
        </div>
    </div>
</section>