<section class="banner-home">
    <div class="banner-home__wrap-reservar row center-xs">
        <h1 class="banner-home__wrap-reservar__title-color">Bienvenido a Capripicnic</h1>
        <h3 class="banner-home__wrap-reservar__title-color size">¡Haz tu reserva y vive una experiencia única!</h3>
        <div class="banner-home__wrap-reservar__actions">
            <mat-form-field appearance="fill">
                <mat-label>Paquetes</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="banner-home__wrap-reservar__actions__button-size">Buscar</button>
        </div>
    </div>
</section>