@import  'src/styles.scss'; 
/* .max-width{
  width: 100%;
  max-width: 100%;
} */
.background-primary{
  background-color: $color-primary;
}
.background-claro .mat-drawer-inner-container{
  background-color: $color-claro;
}
.transparency{
  background-color: transparent;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  justify-content: space-between;
}

.stiky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }  
