<div class="calendar">
  <div class="header">
    <h2>Agenda disponible - {{ getCurrentMonthYear() }}</h2> <!-- Mostrar mes y año -->
  </div>
  <div class="days">
    <div *ngFor="let day of days" class="day">
      <div class="date">{{  day.date | date: 'EEEE d'}}</div>
      <div class="slots">
        <div *ngFor="let slot of day.timeSlots">
          <button
             type="button"
             [ngClass]="{ 'selected-slot': isSelectedSlot(day.date, slot.start, slot.end) }"
            *ngIf="!isSlotReserved(day.date, slot.start, slot.end)" 
            (click)="reserveSlot(day.date, slot.start, slot.end)"
          >
          {{ slot.start | date: 'h:mm ' }} - {{ slot.end | date: 'h:mm a' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
