@import '../../../styles.scss';

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color{
    background-color: $color-claro-secondary;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-radius: 40px;
}