<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="title">paquete <span class="color-title">{{name_package}}</span></h2>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3 class="shape-subtitle color-title"> Decoración</h3>
                <app-carousel></app-carousel>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3  class="shape-subtitle color-title"> ¿Qué incluye?</h3>
                <p>{{description_package}}</p>
                <p>{{price_package | currency}}</p>
                <button (click)="openModal()">+</button>
            </div>
        </div>
    </div>
</section>
