/* You can add global styles to this file, and also import other style files */
@import "../src/assets/grid-flex.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


// Definir colores principales
//$color-primary: #4d5a32;
$color-primary:#30391F;
$color-title: #416217; 
$color-primary-complement: #e8af6f;
$color-primary-accent: #54582f;
$color-secondary: #464646;
$color-accent: #ACCC7B;
$color-claro: #EEEEEE;
$color-claro-secondary: #4162172e;
$color-oscuro: #373A40;
$color-warn: #80080C; 

// Aplicar los colores a variables CSS
:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
   --color-warn: #{$color-warn};
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  font-size: 18px;
  font-weight: normal;
  background-color: $color-claro;
  color: $color-oscuro;
  line-height: 1.4rem;
  font-family: 'Poppins', sans-serif;
}
button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: $color-accent;
  color:$color-title;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  /* Transición suave para el color de fondo */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

img:hover {
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
a{
  color: #ACCC7B;
}
mat-icon{
  color: #ACCC7B;
  height: auto;
  width: auto;
}

 h1, h3, h4, h5, h6 {
  font-weight: 500; /* Semibold */
}
p, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Normal */
  font-size: 18px;
  line-height: 1.9em;
}

.title{
  text-align: center;
  line-height: 1.5;
}
.color-title{
  color: $color-title;
}

.color-publicity{
  color: $color-accent;
}

.publicity{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color-claro;
  background-image: url(./assets/publicity.png);
  background-repeat: round;
  width: 100%;
  height: 600px; 
  padding: 50px;
  box-sizing: border-box;
}
.shape-subtitle{
  letter-spacing: 5px;
  font-weight: 500px;
  font-size: 20px;
  font-weight: 500;
}
.container-fluid, .container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6rem;
  padding-left: 6rem; 
  background-color: $color-claro;

 
}
.page-section{
  padding-top: 2rem;
  margin-bottom: 2rem;

}
.mat-drawer-container {
  background-color: $color-claro;
}
.mat-expansion-panel-body {
  padding: 0 12px 0px 24px !important;
}


@media (max-width: 767px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

